body {
    background: #F0F0EA;
    color: black;
}

body > div.page {
    margin: 30px auto;
    background: #fff;
    width: 90%;
    max-width: 1360px;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.menu-wrapper ul {
    list-style: none;
    margin: 15px 27px 0 0;
    padding: 0;
}

.menu-wrapper li {
    display: inline;
}

.menu-wrapper li a {
    padding: 15px;
}

.title-wrapper h1 {
    margin: 0;
}

.page.test .title {
    text-align: center;
}

.page.test .container {
    height: 1000px;
}
